In [2]:
import re
import numpy as np
import pandas as pd 
from googletrans import Translator
from langdetect import detect

In [11]:
csv_name = "@CMShehbaz_865.csv"

In [12]:
df = pd.read_csv(f"dataset/{csv_name}")
df.head()

,Unnamed: 0,Tweets,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,1,Just spoke to H.E. President \n@RTErdogan\n to...,NaN,NaN,NaN
1,2,I welcome Supreme Court taking suo motu notice...,NaN,NaN,NaN
2,3,I convey my heartfelt condolences to the gover...,NaN,NaN,NaN
3,4,The increasing incidence of HIV & Aids among t...,NaN,NaN,NaN
4,5,"At High-Level Segment of #COP27, I presented f...",NaN,NaN,NaN

In [15]:
def preprocess_text(text):
    if text != "":
        # remove HTML tags
        text = re.sub('<[^<]+?>', '', text)
        
        # remove URLs
        text = re.sub(r'http\S+', '', text)
        
        # remove special characters and digits
        text = re.sub(r'[^\w\s]', '', text)
        text = re.sub(r'\d+', '', text)
        
        # convert to lowercase
        text = text.lower()
    else:
        text = ""
    
    return text

In [25]:
# initialize the translator
translator = Translator(timeout=5)

# function to detect and translate Urdu text to English
def translate_to_english(text):
    text = preprocess_text(text)
    if text != "":
        # detect the language of the text
        lang = detect(text)
        if lang is not None:
            # if the detected language is Urdu, translate the text to English
            if lang == 'ur':
                translation = translator.translate(text, src="ur", dest='en')
                return translation.text
    return ""
# apply the translation function to the 'Tweets' column
df['Tweets'] = df['Tweets'].apply(translate_to_english)

In [ ]:
df.to_csv(f"dataset/{csv_name}_{len(df)}_translate.csv")